  <%- include('../../partials/header.ejs') %>
  <div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
      </div>
      <div class="col">
        <img src="/images/logo.png" alt="logo" height="80px" width="auto" class="mx-auto d-block mb-2">
        <div class="card my-4">
          <div class="card-body bg-transparent">
            <h5 class="card-text text-center pt-2">Signup Now</h5>
          </div>
          <div class="card-body">
            <form action="/auth/signup" method="post">
              <div class="mb-3">
                <label for="username" class="form-label">User name</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="subscriber/modarator/john">
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="use strong password">
              </div>
              <div class="mb-3">
                <p class="mt-2">Already have an account? <a href="/auth/login">login now</a></p>
                <input type="submit" class="btn btn-primary" value="sign up">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%- include('../../partials/footer.ejs') %>
</body>
</html>